.admin {
  width: 100%;
  min-height: calc(100vh - 100px);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;

  margin: 1rem auto;
}

/*====Start Tabs */

.tabs {
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.5;
  border-radius: 5px;
  color: #fff;
}

.tab {
  background-color: #7b7b7b;
  padding: 5px 10px;
  cursor: pointer;
}
.tab:first-child {
  border-radius: 5px 0 0 5px;
}

.tab:last-child {
  border-radius: 0 5px 5px 0;
}

.activeItem {
  background-color: orangered;
}

/* Define the animation for showing the item */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Define the animation for hiding the item */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.showTable {
  opacity: 1;
  animation: fadeIn 0.5s;
}

.hideTable {
  opacity: 0;
  animation: fadeOut 0.5s;
}
/*====End Tabs */

.products,
.orders {
  flex: 1;
  max-width: 100%;
  /* overflow-x: auto; */
}

.table {
  width: 100%;
  background-color: #323232;
  border-collapse: collapse;
  color: #fff;
}

.caption,
.th {
  text-align: left;
}

.caption {
  text-transform: uppercase;
  background-color: hsl(0 0% 0%);
  font-weight: 700;
  font-size: 1.5rem;
}

.caption,
.td,
.th {
  padding: 1rem;
}

.tr:nth-of-type(2n) {
  background-color: hsl(0 0% 0% /0.1);
}

.th {
  background-color: hsl(0 0% 0% /0.5);
}

.td[data-cell='Action'] div {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.5rem;
}

.td[data-cell='Action'] div button {
  padding: 3px 6px;
}

@media (max-width: 650px) {
  /*===== Start Container ===== */

  .container {
    flex-direction: column;
  }

  /*===== End Container ===== */

  /*===== Start Table ===== */
  .thead {
    display: none;
  }
  .td {
    display: block;

    /* OR
   display: grid;
    grid-template-columns: 15ch auto;
    */
  }
  .td::before {
    content: attr(data-cell) ': ';
    font-weight: 700;
    margin-right: 1rem;
  } /* OR  .td:nth-of-type(1)::before {
    content: 'Title';
  }*/

  .td:first-child {
    position: relative;
    margin: 1rem 0;
  }

  .td:first-child::before {
    content: '';
  }

  .img {
    position: absolute;
    top: 0;
    /* right: 50%;
    transform: translateX(50%); */
  }

  /* ===== End Table ===== */
}
